# security related files
credentials.json
token.json

# reference files
.ref/

# *.pyc files
__pycache__/
*.pyc

# macOS related files
.DS_Store

# attachments and data
attachments/
data/

# logs
logs/
